/* #container {
    display: flex;
 
} */
#header {
    display: flex;
    background-color: slateblue;
}
#header > div{
    margin: 10px;
    padding: 20px;
}
#right > img{
    border: 1px solid steelblue;
    border-radius: 50%;
}
.box {
    color: white;
    background-color: rgb(103, 151, 207);
    width: 100%;
    height: 160px;
}

#box1 {
    color: rgb(82, 12, 196);
}
#grey{
    background-color: grey;
    display: flex;
    justify-content: center;
}
#grey > p{
    margin: 10px;
    padding: 20px;
}
#row1{
    display: flex;
}
#row1 > div{
    margin: 10px;
    padding: 20px;
}
#work_exp{
    width: 50%;
}
#skills{
    width: 50%;
}
.btn{
    background-color: rgb(93, 93, 138);
    color: white;
 border-radius:5px  ;
}
.underline {
    color: rgb(68, 68, 238);
     
    text-decoration-line: underline;
    
}
 #left{
    
    margin: 1px 1528px ;
     
 }
 #row2{
     display: flex;
 }
#education{
    width: 50%;
    margin: 0px 15px;}
.list{
display: flex;
justify-content: center;
/* width: 50%; */
    }
#row3{
    display: flex;
    margin: -600px 1px 0px 850px;
}
#achiement{
    width: 50%;
    margin: 0px 15px;}